# fly.toml app configuration file generated for teto-planner on 2026-02-04T21:33:39+07:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'teto-planner'
primary_region = 'fra'

[build]

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 1
  processes = ['app']

[[vm]]
  cpus = 1
  memory_mb = 512
